body {
  background-color: #6c757d;
}

table {
  margin: auto;
  background-color: #222;
  width: 295px;
  max-width: 295px;
  height: 325px;
  text-align: center;
  border-radius: 4px;
  padding-right: 10px;
}

input {
  outline: 0;
  position: relative;
  left: 5px;
  top: 5px;
  border: 0;
  color: black;
  background-color: #fff;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: 0 4px rgba(0,0,0,0.2);
  margin-bottom: 15px;
}
.Hover:hover{
  border: 0 solid #000;
  color: #6c757d;
  background-color: #fff;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: 0 4px #b0d2cf;
}

.Hover:active {
  top: 4px;
  border: 0 solid #000;
  color: #6c757d;
  background-color: #fff;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: none;
}

#display {
  width: 300px;
  height:85px;
  max-width: 300px;
  font-size: 26px;
  text-align: right;
  background-color: #d1ffbd;
  float: left;
  font-size:48px;
}

.operator {
  background-color: #c6e3f7;
  position: relative;
}

.operator:hover {
  background-color: #c6e3f7;
  box-shadow: 0 4px #f8f9fa;
}

.operator:active {
  top: 4px;
  box-shadow: none;
}

#clear {
  float: left;
  position: relative;
  display: block;
  background-color: #fabfe4;
}

#clear:hover {
  float: left;
  display: block;
  background-color: #fabfe4;
  margin-bottom: 15px;
  box-shadow: 0 4px #CC7F86;
}

#clear:active {
  float: left;
  top: 4px;
  display: block;
  background-color: #F297A0;
  margin-bottom: 15px;
  box-shadow: none;
}
